<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <h1 class="main-title">Please, choose your action to enter the blog!</h1>

    <ul class="enter-btns-container">
      <li class="btn"><a href="/registration">Sign up</a></li>
      <li class="btn"><a href="/login">Log in</a></li>
    </ul>
  </body>
</html>
